*, *::before, *::after {
    box-sizing: border-box; /* Makes setting width, height, padding easier*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #6a6a6a;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #0c5926;
    border: 1px solid #a6f0bd;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
 
.btn:hover {
    border-color: black;
} 

/*Reference: Edited from "Build a Text Adventure Game with JavaScript" by Web Dev Simplified https://youtu.be/R1S_NhKkvGA  accessed 12/26/22*/